
node_modules/.bin/_mocha
coverage/clover.xml
.nyc_output/out.json
*.y4m
cypress/integration/DBRScanner/(obsolete)Test_barcodeFormats._js
cypress/fixtures/bitdepth/16depth_code39.bmp
cypress/fixtures/bitdepth/16depth_codebar.tif
*.tif
*.bmp
*.tiff
*.jpg
*.gif
*.pdf
cypress/fixtures/bitdepth/1depth_code128.png
cypress/fixtures/bitdepth/24depth_industrial25.png
cypress/fixtures/bitdepth/32depth-invert.png
*.png
